body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: red;
}
.navbar{
    background-color: green;
    height: 100vh;
    width: 25vw;
    display: flex;
    justify-content: center;
}
.feed-container{
    background-color: blue;
    height: 100vh;
    width: 45vw;

}
.workouts-preview{
    background-color: yellow;
    height: 100vh;
    width: 30vw;
}
.homepage-logo{
    width: 75px;
    height: 75px;
}
.navbar-elements-holder{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.navbar-nav{
    padding: 0;
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: left;
    flex-direction: column;
    list-style: none;

}